[Unit]
Description=Zookeeper Daemon
Requires=network.target
After=network.target

[Service]
Environment=KAFKA_OPTS=-Djava.security.auth.login.config=/home/kafka/kafka/config/jaas/zookeeper_jaas.conf
User={{ kafka_user }}
Group={{ kafka_group }}
Restart=on-failure
ExecStart=/home/kafka/kafka/bin/zookeeper-server-start.sh /home/kafka/kafka/config/zookeeper.properties
ExecStop=/home/kafka/kafka/bin/zookeeper-server-stop.sh
[Install]
WantedBy=multi-user.target
